// Global styling for this template

@font-face {
    font-family: 'descuadrado-webfont';
    src: url('font/descuadrado-webfont.woff2') format('woff2'),
         url('font/descuadrado-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'NEOTERIC';
    src: url('font/NEOTERIC.woff2') format('woff2'),
        url('font/NEOTERIC.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    @include serif-font;
}

hr {
    max-width: 50px;
    border-width: 3px;
    border-color: $theme-primary;
}

hr.light {
    border-color: white;
}

a {
    color: $theme-primary;
    @include transition-all;
    &:hover,
    &:focus {
        color: darken($theme-primary, .1);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include sans-serif-font;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.bg-primary {
    background-color: $theme-primary !important;
}

.bg-dark {
    color: white;
    background-color: $gray-darker !important;
}

.text-faded {
    color: fade-out(white, .3);
}

section {
    padding: 125px 0;
}

.section-heading {
    margin-top: 0;
}

.no-padding {
    padding: 0;
}

::-moz-selection {
    color: white;
    background: $gray-darker;
    text-shadow: none;
}

::selection {
    color: white;
    background: $gray-darker;
    text-shadow: none;
}

img::selection {
    color: white;
    background: transparent;
}

img::-moz-selection {
    color: white;
    background: transparent;
}

body {
    -webkit-tap-highlight-color: $gray-darker;
}
