// Styling for the portfolio section
#portfolio {
    padding: 0;
    .element-portfolio {
        padding: 3px;
        line-height: 0;
        video {
            width: 100%;
        }
        img {
            width: 100%;
        }
        .dynamic-zoom {
            transition: 1s;
        }
        &.clickable {
            cursor: pointer;
        }
        &:hover {
            .dynamic-zoom {
                transform: scale(1.5);
            }
        }
        .portfolio-container {
            overflow: hidden;
        }
    }
}
